.rotim img
{
    margin-top: 50px;
    border-radius: 50%;
    
}


.rotim
{
    text-align: center;
}

.rottext
{
    text-align: center;
    width: 100vw;   
}

.rot
{

    overflow: hidden;
    width: 100vw;
}


.rottext img
{
    animation: rotation 60s infinite linear;
    transform: rotate(180deg);
    min-width: 600px;
    margin-left: 50%;
    transform: translateX(-50%) rotate(180deg);
    margin-top: -620px;
}

.about2
{
    overflow-x: hidden;
}

@media only screen and (max-width:600px)
{
    .rottext img
    {
        
        transform: rotate(180deg);
        min-width: 600px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -420px;
    }

}

@media only screen and (min-height:1000px) and (max-height:1400px)
{
   .rottext img
    {
        transform: rotate(180deg);
        min-width: 600px;
        margin-left: 50%;
        transform: translateX(-50%);
        margin-top: -520px;
    }

    .rot
    {
        margin-top: 310px;
    }


  
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) { 
    .rotim img
    {
        margin-top: 210px;
        border-radius: 50%;
        
    }

    .rotim
    {
        text-align: center;
    }

    .rottext
    {
        text-align: center;
        width: 100vw;
    
    }

    .rottext img
    {
        animation: rotation 60s infinite linear;
        transform: rotate(180deg);
        min-width: 600px;
        margin-left: 50%;
        transform: translateX(-50%) rotate(180deg);
        margin-top: -620px;
    }

    
}

@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (min-resolution: 192dpi) {
    .rotim img
    {
        margin-top: 50px;
        border-radius: 50%;
        
    }

    .rotim
    {
        text-align: center;
    }

    .rottext
    {
        text-align: center;
        width: 100vw;
    
    }

    .rottext img
    {
        animation: rotation 60s infinite linear;
        transform: rotate(180deg);
        min-width: 600px;
        margin-left: 50%;
        transform: translateX(-50%) rotate(180deg);
        margin-top: -620px;
    }

   }

@keyframes rotation {
  from {
    transform: translateX(-50%) rotate(0deg);
  }
  to {
    transform: translateX(-50%) rotate(359deg);
  }
}