html,
body {
   margin:0;
   padding:0;
   height:100%;
   width: 100%;
}

.info{
    background-color: rgba(230, 230, 230, 0.808);
    width: 365px;
    border-radius: 15px;
    padding: 10px;
}

.stream{
    max-width: 80vw;
    width: 20vw;
    background-color:#1D2225 ;
    display: flexbox;
    padding: 20px;
    z-index: 2;
    margin: 0 auto;
    border-radius: 20px;
}

.stream img{
    max-width: 40px;
    text-align: center;
    padding: 2px;
    
}


.s1{
    padding: 20px;
    text-align: center;
}

.stream1{
    max-width: 30vw;
    min-width: 200px;
    background-color:#1D2225 ;
    padding-bottom: 10px;
    z-index: 2;
    margin: 0 auto;
    border-radius: 20px;
}

.stream1 img{
    width: 388px;
    min-width: 200px;
    margin: 0 auto;
    border-radius: 20px 20px 0px 0px;
    
}

.stream1 h2{
    color: white;
}
.stream1 h1{
    margin-top: -20px;
    color: white;
}


.oned{
    padding-top: 20px;
    text-align: left;
    color: rgb(150, 176, 248);

   
}

.oned a{
    font-family: sans-serif;
    text-decoration: none;
    padding: 15px;
    padding-right: 15px;
}

.logo{
    position: relative;
    top: 5px;
}
.me{
    display: none;
}

act a{
    background-color:#1D2225;
    border-radius: 5px;
    display: inline-flexbox;
    
}

@media only screen and (max-width: 500px)
{
    .stream1 img{
        width: 302px;
        min-width: 200px;
        margin: 0 auto;
        border-radius: 20px 20px 0px 0px;
    }

    .med{
        display: all;
    }

    .big{
        display: none;
    }

    .info{
        background-color: rgba(230, 230, 230, 0.808);
        width: 245px;
        border-radius: 15px;
        padding: 10px;
    }
}

@media only screen and (min-width: 800px)
{

    .oned a{
        font-family: sans-serif;
        text-decoration: none;
        padding: 15px;
        padding-right: 15px;
    }
    .me{
        display: none;
    }

    .oned{
        padding-top: 20px;
        text-align: left;
        color: rgb(150, 176, 248);
    
       
    }
    .big{
        display: all;
    }

    .med{
        display: none;
    }
    
    
}

@media only screen and (min-width: 500px) and (max-width: 800px)
{

    .oned a{
        font-family: sans-serif;
        text-decoration: none;
        padding: 15px;
        padding-right: 15px;
    }
    .me{
        display: none;
    }

    .oned{
        padding-top: 20px;
        text-align: left;
        color: rgb(150, 176, 248);
    
       
    }
    .med{
        display: none;
    }
}


@media only screen and (max-width: 400px) and (min-width: 201px)
{

    .oned a{
        font-family: sans-serif;
        text-decoration: none;
        padding: 0px;
        padding-right: 5px;
    }
    .me{
        display: none;
    }

    .oned{
        padding-top: 0.5px;
        text-align: left;    
        padding-bottom: 4px;
        color: rgb(150, 176, 248);  
    }

    act a{
        background-color:#1D2225;
        border-radius: 0px;
        display: inline-flexbox;
        
    }

    .big{
        display: none;
    }

    .med{
        display: all;
    }

    .stream1 img{
        width: 302px;
        min-width: 200px;
        margin: 0 auto;
        border-radius: 20px 20px 0px 0px;
        
    }
    
}
@media only screen and (max-width: 200px)
{

    .oned a{
        font-family: sans-serif;
        text-decoration: none;
        padding: 0px;
        padding-right: 5px;
    }
    .me{
        display: inline;
    }

    .oned{
        padding-top: 0.5px;
        text-align: left;
        padding-bottom: 4px;
        color: rgb(150, 176, 248); 
        border-radius: 10px;  
    }

    act a{
        background-color:#1D2225;
        border-radius: 0px;
        display: inline-flexbox;
        
    }

    .med{
        display: all;
    }

    .big{
        display: none;
    }

    
}


.oned a:link {
  color: rgb(180, 204, 231);
}

.oned a:visited {
  color: rgb(180, 204, 231); 
}

.oned a:hover {
  color: rgb(210, 216, 224);
}

.oned a:active {
  color: rgb(234, 234, 248);
}

footer{
    background-color:#1D2225;
    position:absolute;
    padding: 10px;
    bottom:0;
    width:100%;
    height:60px;   /* Height of the footer */
}

.container {
    min-height:50%;
    position:relative;
 }




